@model List<Author>
@{
    ViewBag.Title = "Index";
}

<h2 class="display-2">Authors Page</h2>
<br />

@Html.ActionLink("Добавить нового автора", "Create")
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Имя автора</th>
            <th>Фамилия автора</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@Html.ActionLink("Редактировать автора", "Edit", new { @id = item.Id })</td>
            <td>@Html.ActionLink("Удалить автора", "Delete", new { @id = item.Id })</td>
        </tr>
    }
</table>
